C:/Users/PC/Downloads/filesystemexplorer/encrypt/Keys/
C:/Users/PC/Downloads/filesystemexplorer/encrypt/UserCerts/
C:/Users/PC/Downloads/filesystemexplorer/encrypt/ca_key.pem
C:/Users/PC/Downloads/filesystemexplorer/encrypt/ca.pem
C:/Users/PC/Downloads/filesystemexplorer/encrypt/__pycache__/
C:/Users/PC/Downloads/filesystemexplorer/__pycache__/
C:/Users/PC/Downloads/filesystemexplorer/accounts.db
